.form {
  margin-top: 30px;
  margin-bottom: 0px;
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  justify-content: space-between;
  /* width: 70%; */
  align-items: center;
}
.form div {
  padding-right: 1rem;
}

#addcriteria {
  padding: 0.5rem;
}

.form input {
  padding: 0.5rem;
}
.inputs {
  display: flex;
}
.footer {
  margin: 2rem;
  text-align: right;
  font-size: xx-small;
}
